<div class="col page-container full-center page-working">
    <div class="col shape-import-list-container" [ngClass]="hideWorkspace ? 'hidden-workspaces' : ''" lastElementInView (lastElementInView)="onLastElementInView()">
        <div class="filter-options-container full-center col">
            <div class="row space-between imported-shape-checkbox-container">
                <label class="row full-center square-checkbox">
                    <input type="checkbox" [(ngModel)]="importedShapesMine">
                    <span class="checkbox-icon"></span>
                    <label class="imported-shape-checkbox-label-container">personal</label>
                </label>
                <label class="row square-checkbox">
                    <input type="checkbox" [(ngModel)]="importedShapesOfficial">
                    <span class="checkbox-icon"></span>
                    <label class="imported-shape-checkbox-label-container">official</label>
                </label>
            </div>
            <div class="row full-center imported-shape-checkbox-container">
                <label>Account name:</label>
            </div>
            <div class="row full-center imported-shape-checkbox-container">
                <input class="imported-shape-account-name-container" [(ngModel)]="importedShapesAccountName"/>
            </div>
            <img [src]="SVGEnum.filterSVG" alt="Filter" (click)="filterImportedShapes()">
        </div>
        <div class="row imported-shape-container" *ngFor="let importedShape of importedShapes">
            <div class="col">
                <div class="row space-between imported-shape-name-container">
                    <label>{{importedShape.name}}</label>
                    <div class="row">
                        <img [src]="SVGEnum.saveSVG" alt="Use" (click)="validateImportedShape(importedShape)">
                    </div>
                </div>
                <div *ngIf="!(this.selectedImportedShape?.id === importedShape.id)">
                    <img width="150px" height="150px" [src]="importedShape.image">
                </div>
            </div>
        </div>
        <div class="row imported-shape-container hidden-imported-shapes"  *ngFor="let importedShape of importedShapes">
            <app-edit-part *ngIf="(this.selectedImportedShape?.id === importedShape.id)" [cameraRatioShape]="importedShape.cameraRatioShape" [shape]="importedShape" [getImageData]="getImageData[importedShape.id]" (updateGetImageDataEvent)="updateGetImageDataImportated(importedShape)" [isCanvasMinimized]="true" [canDoActions]="false" [canRotate]="false"></app-edit-part>
        </div>
    </div>
</div>

<div class="row page-container full-center page-not-working">
    <p>This page is unavailable with dimensions smaller than 1300 / 600</p>
</div>

