:host {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: calc(100vw - 20px);
    height: 5vh;
    padding: 0 10px;
    background-color: #537188;
}

.header-title {
    color: white;
    text-align: center;
    width: 600px;
}

.account-container {
    width: 300px;
}

.pages-container {
    width: 250px;
}

.page-label-container {
    width: 100px;
}

.name-label {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

img:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}