<div class="col page-container full-center page-working">
    <div class="col content-container full-center">
        <div class="col full-size full-center">
            <label class="title-label bold">Welcome to PaveItUp!</label>
            <label class="subtitle-label">This is the perfect place to simulate arranging pavements on a surface</label>

            <label *ngIf="showLoginButton" class="login-label">You will need to sign in in order to use this application</label>
            <div *ngIf="showLoginButton" class="full-center">
                <button class="login-button" (click)="goToLogin()">Go To Login</button>
            </div>

            <label *ngIf="!showLoginButton" class="login-label">You can manage your workspaces here</label>
            <div *ngIf="!showLoginButton" class="full-center">
                <button class="login-button" (click)="goToWorkspaces()">Go To Workspaces</button>
            </div>
        </div>
    </div>
</div>

<div class="row page-container full-center page-not-working">
    <p>This page is unavailable with dimensions smaller than 1300 / 600</p>
</div>
