
.name-label {
    margin-right: 5px;
}

.hidden-workspace {
    visibility: hidden;
}

.page-container {
    width: calc(100vw - 20px);
    height: calc(95vh - 20px);
    padding: 10px;
    background-color: #EEEEEE;
}

.page-container-preview {
    width: calc(100vw - 20px);
    height: calc(95vh - 20px);
    padding: 10px;
    background-color: white;
}

.separating-line {
    height: 100%;
    border-left: 2px solid #c0c0c0;
}

.surface-edit-container {
    width: 582px;
    height: 500px;
}

.surface-container {
    width: 450px;
    height: 100%;
}

.surface-options-container {
    width: 450px;
    height: 508px;
    padding-top: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shape-list-container {
    width: 590px;
    height: 100%;
    overflow-y: auto;
}

.part-list-container {
    width: 160px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 30px;
}

.shape-import-list-container {
    width: 160px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 30px;
    margin-left: 100px;
}

.part-name-container {
    padding: 0 5px 3px 5px;
    width: 140;
}

.export-address-error {
    border-color: red;
}

.shape-container {
    margin: 10px 0;
}

.surface-options {
    padding: 0 5px;
    width: 440px;
    height: 24px;
    margin-bottom: 5px;
}

.part-container {
    width: 150px;
    height: 177px;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shape-minimized-container {
    width: 150px;
    height: 204px;
    padding-top: 5px;
    margin: 10px 0;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shape-options-row {
    padding: 0 5px 3px 5px;
    width: 140;
}

.selected-part-container {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.6) 0px 0px 0px 1px;
}

.add-shape-button {
    gap: 30px;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.save-worksace-container {
    width: 450px;
    justify-content: center;
}

.preview-header-container {
    width: 100%;
    height: 30px;
}

.preview-header-title {
    margin: 0 10px;
    font-size: 20px;
}

.preview-content-container {
    width: calc(100% - 100px);
    height: calc(100% - 30px - 40px);
    padding: 20px 50px;
}

.preview-surface-container {
    height: 100%;
}

.preview-shape-col-container {
    height: 100%;
    width: 110px;
}

.preview-shape-row-container {
    height: 60px;
    width: 110px;
}

.preview-shape-label {
    width: 50px;
    text-align: center;
    font-size: 18px;
}

.page-working {
    display: flex
}

.page-not-working {
    display: none;
}

.preview-mode {
    display: none;
}


@media (max-width: 1300px) or (max-height: 600px) {
    .page-working {
        display: none;
    }
    
    .page-not-working {
        display: flex;
    }
}



.content-container {
    padding: 30px;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    background-color: white;
    border: 1px solid #c0c0c0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.title-container {
    height: 80px;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.title-label {
    font-size: 20px;
}

.subtitle-label {
    font-size: 14px;
    text-align: center;
}

.field-container {
    height: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c0c0c0;
}

.input-container {
    border: 0;
    margin-left: 10px;
    width: 250px;
    font-size: 14px;
    text-align: start;
    margin-bottom: 7px;
}

.input-container:focus {
    font-size: 16px;
    margin-bottom: 0;
}

.field-label-container {
    font-size: 14px;
    margin-left: 5px;
}

.login-error {
    margin-top: 30px;
    height: 20px;
    color: red;
    font-size: 12px;
}

.login-button {
    width: 180px;
    margin-top: 10px;
    height: 30px;
    background: rgb(189,183,250);
    background: linear-gradient(90deg, rgba(189,183,250,1) 0%, rgba(123,123,215,1) 50%, rgba(77,77,213,1) 100%);
    color: white;
    border: 0;
    border-radius: 50px;
}



.hidden-imported-shapes {
    visibility: hidden;
}

.imported-shape-container {
    width: 150px;
    height: 201px;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.imported-shape-name-container {
    padding: 0 5px;
    margin-bottom: 3px;
    width: 140px;
}

.filter-options-container {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 150px;
    margin-bottom: 15px;
}

.imported-shape-checkbox-container {
    width: 140px;
    height: 30px;
    padding: 0 5px;
    margin-bottom: 3px;
}

.imported-shape-checkbox-label-container {
    font-size: 14px;
    padding-bottom: 4px;
}

.imported-shape-account-name-container {
    width: 130px;
}