<div class="col page-container">
    <div class="row">
        <div class="col" *ngIf="!isCanvasMinimized">
            <div class="row options-container">
                <div class="col points-container">
                    <div class="point-container" *ngFor="let item of shape.points; let i = index;" >
                        <div class="col point-details-container">
                            <div class="row point-property-container space-between">
                                <label class="point-property-label full-center">x:</label>
                                <input class="point-pos-input" [ngModel]="item.point.x.toFixed(2)" type="number" (keyup.enter)="updatePoint($event, 'x', item)">
                            </div>
                            <div class="row point-property-container space-between">
                                <label class="point-property-label full-center">y:</label>
                                <input class="point-pos-input" [ngModel]="item.point.y.toFixed(2)" type="number" (keyup.enter)="updatePoint($event, 'y', item)">
                            </div>
                            <div class="row point-property-container space-between">
                                <img [src]="SVGEnum.angleSVG" alt="Angle">
                                <label class="angle-label">{{getAngle(i)}}</label>
                            </div>
                        </div>
                        <div class="col connecting-lines-container">
                            <div class="property-line-up"></div>
                            <div class="property-line-horizontal"></div>
                            <div class="property-line-down"></div>
                        </div>

                        <button class="point-button" [ngClass]="(item.object?.name === selectedObject?.name ? 'button-red' : '') + ' ' + (item.type === 'curve' ? 'round-button' : '')" (click)="selectVertex(i)">{{item.object?.name.replace('Point_', '')}}</button>
                        
                        <div class="col connecting-lines-container">
                            <div class="adjacent-line-up"></div>
                            <div class="adjacent-line-down"></div>
                        </div>
                    </div>
                </div>
    
                <div class="col lines-container">
                    <div class="line-container">
                        <div class="line-container"> 
                            <button class="line-button" [ngClass]="(isEdgeSelected(-1) ? 'button-red' : '') + ' ' + (!displayLine(-1) ? 'round-button' : '')" (click)="displayLine(-1) && selectEdge(-1)">{{shape.points.length - 1}}-0</button>
                            <div *ngIf="!displayLine(-1)" class="empty-line-details-container"></div>
                            <div *ngIf="displayLine(-1)" class="row">
                                <img [src]="SVGEnum.lengthSVG" alt="Lenght">
                                <input class="line-length-input" [disabled]="!(selectedObject && selectedAdjacentObject && isEdgeSelected(-1))" [ngModel]="getEdgeLength(-1).toFixed(3)" type="number" (keyup.enter)="updateLength($event)">
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let item of shape.points; let i = index;" >
                        <div class="line-container"> 
                            <button class="line-button" [ngClass]="(isEdgeSelected(i) ? 'button-red' : '') + ' ' + (!displayLine(i) ? 'round-button' : '')" (click)="displayLine(i) && selectEdge(i)">{{i}}-{{i + 1 === shape.points.length ? 0 : i + 1}}</button>
                            <div *ngIf="!displayLine(i)" class="empty-line-details-container"></div>
                            <div *ngIf="displayLine(i)" class="row">
                                <img [src]="SVGEnum.lengthSVG" alt="Lenght">
                                <input class="line-length-input" [disabled]="!(selectedObject && selectedAdjacentObject && isEdgeSelected(i))" [ngModel]="getEdgeLength(i).toFixed(3)" type="number" (keyup.enter)="updateLength($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="actions-container">
                <div class="row action-container">
                    <div class="row actions-lateral-buttons-container">
                        <img [src]="SVGEnum.refreshSVG" alt="Refresh" (click)="refreshShape()">
                        <img *ngIf="previousIterations && previousIterations.length" [src]="SVGEnum.undoSVG" alt="Undo" (click)="undoAction()">
                        <img *ngIf="changesExist()" [src]="SVGEnum.revertSVG" alt="Revert" (click)="revertShape()">
                    </div>
                    <div class="row actions-center-buttons-container full-center">
                        <input class="name-input" *ngIf="!isSurface" [(ngModel)]="shape.name"/>
                    </div>
                    <div class="row actions-lateral-buttons-container flex-end">
                        <img [src]="SVGEnum.saveSVG" alt="Save" (click)="save()">
                    </div>
                </div>
                <div class="row space-between action-container">
                    <div class="row actions-lateral-buttons-container">
                        <img *ngIf="vertexVisibility" [src]="SVGEnum.hideSVG" alt="Hide" (click)="toggleVerticesVisibility()">
                        <img *ngIf="!vertexVisibility" [src]="SVGEnum.viewSVG" alt="View" (click)="toggleVerticesVisibility()">
                    </div>
                    <div class="row full-center actions-center-buttons-container"> 
                        <img [src]="SVGEnum.addSquareSVG" alt="AddVertex" (click)="addVertex()">
                        <img [src]="SVGEnum.removeSVG" alt="RemoveVertex" (click)="removeVertex()">
                        <img [src]="SVGEnum.addRoundSVG" alt="AddCurveVertex" (click)="addVertex('curve')">
                    </div>
                    <div class="row actions-lateral-buttons-container flex-end">
                        <input class="polygon-verices-input" [(ngModel)]="regularPolygonEdgesNumber" type="number">
                        <img [src]="SVGEnum.regularPolygonSVG" alt="RegularPolygon" (click)="createRegularPolygon()">
                    </div>
                </div>
                <div class="row action-container">
                    <div class="row full-center texture-picker-container">
                        <ng-select class="texture-select" [clearable]="false" [ngModel]="shape.textureType" (ngModelChange)="changeTexture($event)">
                            <ng-option *ngFor="let option of textureOptions; let i = index;" [value]="option.id">{{option.name}}</ng-option>
                        </ng-select>
                    </div>

                    <div class="row flex-end color-picker-container">
                        <input class="color-picker" [value]="shape.color"
                            [style.background]="shape.color"
                            [cpOutputFormat]="'rgba'"
                            [(colorPicker)]="shape.color"
                            (colorPickerChange)="changeColor()"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <canvas #canvas id="canvas" class="canvas-container"></canvas>
            </div>
        </div>
    </div>
</div>
