
<div class="col page-container full-center page-working">
    <div class="col content-container full-center">
        <div class="col full-size full-center" *ngIf="successMessage || errorMessage === 'Email was already validated'">
            <label class="success-label">{{successMessage}}</label>
            <label class="error-label">{{errorMessage}}</label>
            <div class="full-center">
                <button class="login-button" (click)="goToLogin()">Go To Login</button>
            </div>
        </div>
        <label *ngIf="errorMessage === 'Validation code is invalid'" class="error-label">{{errorMessage}}</label>
    </div>
</div>

<div class="row page-container full-center page-not-working">
    <p>This page is unavailable with dimensions smaller than 1300 / 600</p>
</div>