<div *ngIf="surface" class="row name-container page-working">
    <label class="name-label">Name:</label>
    <input *ngIf="workspaceId === 'new'" [(ngModel)]="newWorkspaceName"/>
    <input *ngIf="workspaceId !== 'new' && workspace" [(ngModel)]="workspace.name"/>
</div>

<div *ngIf="surface" class="row page-container page-working">
    <div *ngIf="isEditingSurface" class="row surface-edit-container">
        <app-generate-line  [shape]="surface" [isSurface]=true [canDoActions]="isEditingSurface" (updateMinimizationEvent)="updateShapeMinimization($event, surface)"></app-generate-line>
    </div>
    <div *ngIf="!isEditingSurface" class="col surface-container">
        <button class="open-edit-surface-button" (click)="openSurfaceEdit()">Open edit</button>
        <app-place-shapes #editedSurface *ngIf="!isEditingSurface" [surface]="surface" [parts]="surfaceParts" [selectedPart]="selectedPart" [updateFromShape]="updateFromShape" (choosePartEvent)="choosePartFromSurface($event)" (checkIntersectEvent)="checkIntersect($event)"></app-place-shapes>
        <div class="row save-worksace-container">
            <button *ngIf="!isEditingSurface" (click)="saveWorkspace()">Save</button>
        </div>
    </div>
    <div *ngIf="!isEditingSurface" class="col part-list-container">
        <div class="row" *ngFor="let part of parts; let i = index;">
            <div class="col">
                <label>{{part?.partId}}. {{part?.name}}</label>
                <app-edit-part *ngIf="(selectedPart?.partId === part.partId)" (click)="toggleSelectPart(part)" [shape]="part" [getImageData]="getImageData[part.name]" (updateGetImageDataEvent)="updateGetImageData(part)" [isCanvasMinimized]="true" [canDoActions]="false" [canRotate]="selectedPart?.partId === part.partId" (updatePartRotationEvent)="updatePartRotation()"></app-edit-part>
                <div *ngIf="!(selectedPart?.partId === part.partId)" (click)="toggleSelectPart(part)">
                    <img width="150px" height="150px" [src]="part.image">
                </div>
            </div>
            <button (click)="deletePart(i)">Delete</button>
            <label *ngIf="selectedPart?.partId === part.partId" >x</label>
        </div>
    </div>
    <div *ngIf="!isEditingSurface" class="col shape-list-container">
        <button class="add-shape-button" (click)="addNewShape()">Add shape</button>
        <div class="row shape-container" *ngFor="let shape of shapes; let i = index;">
            <div class="col">
                <label>{{shape?.id}}. {{shape?.name}}</label>
                <div class="row">
                    <div class="col shape-usage">
                        <button *ngIf="!(shape.id === expandedShapeDetails?.id)" (click)="useShape(shape)">Use</button>
                        <button *ngIf="!(shape.id === expandedShapeDetails?.id)" (click)="duplicateShape(shape)">Duplicate</button>
                        <button *ngIf="!(shape.id === expandedShapeDetails?.id)" (click)="deleteShape(i)">Delete</button>
                    </div>
                    <div *ngIf="!(shape.id === expandedShapeDetails?.id)" (click)="openShapeDetails(shape)">
                        <img width="150px" height="150px" [src]="shape.image">
                    </div>
                    <app-generate-line *ngIf="(shape.id === expandedShapeDetails?.id)" [shape]="shape" [getImageData]="getImageData[shape.name]" (updateGetImageDataEvent)="updateGetImageData(shape)" [isCanvasMinimized]="!(shape.id === expandedShapeDetails?.id)" [canDoActions]="(shape.id === expandedShapeDetails?.id)" (updateMinimizationEvent)="updateShapeMinimization($event, shape)"></app-generate-line>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row page-container page-not-working">
    <p>This page is not usable with dimensions smaller than 1300 / 600</p>
</div>