<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div *ngIf="surface" class="row page-container page-working" [ngClass]="isEditingSurface ? 'full-center' : 'space-between'">
    <div *ngIf="isEditingSurface" class="row surface-edit-container">
        <app-generate-line  [shape]="surface" [isSurface]=true [canDoActions]="isEditingSurface" (updateMinimizationEvent)="updateShapeMinimization($event, surface)"></app-generate-line>
    </div>
    <div *ngIf="!isEditingSurface" class="row surface-container align-center">
        <div class="col full-center surface-options-container">
            <div class="row space-between surface-options">
                <img [src]="SVGEnum.editSVG" alt="Edit" (click)="openSurfaceEdit()">
                <input *ngIf="workspaceId === 'new'" [(ngModel)]="newWorkspaceName"/>
                <input *ngIf="workspaceId !== 'new' && workspace" [(ngModel)]="workspace.name"/>
                <!-- <label>{{parts?.length}}</label> -->
                <img *ngIf="!isEditingSurface" [src]="SVGEnum.saveSVG" alt="Save" (click)="saveWorkspace()">
            </div>
            <app-place-shapes #editedSurface *ngIf="!isEditingSurface" [surface]="surface" [parts]="surfaceParts" [selectedPart]="selectedPart" [updateFromShape]="updateFromShape" (choosePartEvent)="choosePartFromSurface($event)" (checkIntersectEvent)="checkIntersect($event)"></app-place-shapes>
        </div>
    </div>
    <div *ngIf="!isEditingSurface" class="separating-line"></div>
    <div *ngIf="!isEditingSurface" class="col part-list-container">
        <div class="row part-container full-center" [ngClass]="selectedPart?.partId === part.partId ? 'selected-part-container' : ''" *ngFor="let part of parts; let i = index;">
            <div class="col">
                <div class="row part-name-container space-between">
                    <label class="full-center">{{part?.name}}</label>
                    <img [src]="SVGEnum.deleteSVG" alt="Remove" (click)="deletePart(i)">
                </div>
                <app-edit-part *ngIf="(selectedPart?.partId === part.partId)" (click)="toggleSelectPart(part)" [shape]="part" [getImageData]="getImageData[part.partId]" (updateGetImageDataEvent)="updateGetImageData(part)" [isCanvasMinimized]="true" [canDoActions]="false" [canRotate]="selectedPart?.partId === part.partId" (updatePartRotationEvent)="updatePartRotation()"></app-edit-part>
                <img *ngIf="!(selectedPart?.partId === part.partId)" (click)="toggleSelectPart(part)" width="150px" height="150px" [src]="part.image">
            </div>
        </div>
    </div>
    <div *ngIf="!isEditingSurface" class="separating-line"></div>
    <div *ngIf="!isEditingSurface" class="col shape-list-container">
        <div class="row full-center add-shape-button">
            <img [src]="SVGEnum.createShapeSVG" alt="Create" (click)="addNewShape()">
        </div>
        <div class="row" [ngClass]="!(shape.id === expandedShapeDetails?.id) ? 'shape-minimized-container full-center' : 'shape-container'" *ngFor="let shape of shapes; let i = index;">
            <div class="col">
                <div *ngIf="!(shape.id === expandedShapeDetails?.id)" class="row space-between shape-options-row">
                    <label>{{shape?.name}}</label>
                    <img [src]="SVGEnum.deleteSVG" alt="Delete" (click)="!expandedShapeDetails && deleteShape(i)">
                </div>
                <div *ngIf="!(shape.id === expandedShapeDetails?.id)" class="row space-between shape-options-row">
                    <img [src]="SVGEnum.useSVG" alt="Use" (click)="!expandedShapeDetails && useShape(shape)">
                    <img [src]="SVGEnum.duplicateSVG" alt="Duplicate" (click)="!expandedShapeDetails && duplicateShape(shape)">
                    <img [src]="SVGEnum.editSVG" alt="Edit" (click)="!expandedShapeDetails && openShapeDetails(shape)">
                </div>
                <div class="row">
                    <img *ngIf="!(shape.id === expandedShapeDetails?.id)" width="150px" height="150px" [src]="shape.image">
                    <app-generate-line *ngIf="(shape.id === expandedShapeDetails?.id)" [shape]="shape" [getImageData]="getImageData[shape.id]" (updateGetImageDataEvent)="updateGetImageData(shape)" [isCanvasMinimized]="!(shape.id === expandedShapeDetails?.id)" [canDoActions]="(shape.id === expandedShapeDetails?.id)" (updateMinimizationEvent)="updateShapeMinimization($event, shape)"></app-generate-line>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row page-container full-center page-not-working">
    <p>This page is unavailable with dimensions smaller than 1300 / 600</p>
</div>