<app-info-popup *ngIf="showPopup" [showPopup]="showPopup" (closePopupEvent)="closePopup()"></app-info-popup>
<div class="row header-container space-between">
    <img [src]="SVGEnum.homeSVG" alt="Home">
    <h2 class="header-title">PaveItUp</h2>
    <img [src]="SVGEnum.infoSVG" alt="Info" (click)="openPopup()">
    <div class="row">
        <img [src]="SVGEnum.signUpSVG" alt="SignUp">
        <img [src]="SVGEnum.signInSVG" alt="SignIn">
        <!-- <img [src]="SVGEnum.signOutSVG" alt="SignOut"> -->
    </div>
</div>
<router-outlet></router-outlet>