:host {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: calc(100vw - 20px);
    height: 5vh;
    padding: 10px;
    background-color: #537188;
}

.header-title {
    color: white;
}