<div class="col page-container">
    <div class="row">
        <div class="col">
            <div class="row">
                <canvas #canvas id="canvas" class="cube"></canvas>
            </div>
            <div *ngIf="!isCanvasMinimized" >
                <div class="row space-between action-container">
                    <div class="row">
                        <img [src]="SVGEnum.refreshSVG" alt="Refresh" (click)="refreshShape()">
                        <img *ngIf="previousIterations && previousIterations.length" [src]="SVGEnum.undoSVG" alt="Undo" (click)="undoAction()">
                        <img *ngIf="changesExist()" [src]="SVGEnum.revertSVG" alt="Revert" (click)="revertShape()">
                    </div>
                    <div class="row">
                        <img [src]="SVGEnum.saveSVG" alt="Save" (click)="save()">
                    </div>
                </div>
                <div class="row space-between action-container">
                    <div class="row">
                        <img *ngIf="vertexVisibility" [src]="SVGEnum.hideSVG" alt="Hide" (click)="toggleVerticesVisibility()">
                        <img *ngIf="!vertexVisibility" [src]="SVGEnum.viewSVG" alt="View" (click)="toggleVerticesVisibility()">
                        <img [src]="SVGEnum.addSquareSVG" alt="AddVertex" (click)="addVertex()">
                        <img [src]="SVGEnum.addRoundSVG" alt="AddCurveVertex" (click)="addVertex('curve')">
                        <img [src]="SVGEnum.removeSVG" alt="RemoveVertex" (click)="removeVertex()">
                    </div>
                    <div class="row">
                        <input class="point-pos-input" [(ngModel)]="regularPolygonEdgesNumber" type="number">
                        <img [src]="SVGEnum.regularPolygonSVG" alt="RegularPolygon" (click)="createRegularPolygon()">
                    </div>
                </div>

                <div class="row action-container">
                    <div class="col texture-picker-container">
                        <div class="full-center">
                            <label>Texture</label>
                        </div>
                    </div>
                    <div class="col color-picker-container">
                        <div class="full-center">
                            <label>Color</label>
                        </div>
                    </div>
                </div>

                <div class="row action-container">
                    <div class="col texture-picker-container">
                        <div *ngFor="let option of textureOptions; let i = index;">
                            <input type="radio" name="radioGroup" [value]="option" [ngModel]="textureOptions[shape.textureType]" (change)="changeTexture(i)">
                            <label>{{ option }}</label>
                        </div>
                    </div>
                    <div class="col full-center color-picker-container">
                        <input [value]="shape.color"
                            [style.background]="shape.color"
                            [cpOutputFormat]="'rgba'"
                            [(colorPicker)]="shape.color"
                            (colorPickerChange)="changeColor()"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col options-container" *ngIf="!isCanvasMinimized">
            <div class="row">
                <div class="col  bonus-line-container">
                    <div class="point-container" *ngFor="let item of shape.points; let i = index;" >
                        <button [ngClass]="item.object?.name === selectedObject?.name ? 'button-red' : ''" (click)="selectVertex(i)">{{item.object?.name.replace('Point_', 'P')}}</button>
                        <div class="col point-details-container">
                            <input class="point-pos-input" [ngModel]="item.point.x.toFixed(2)" type="number" (keyup.enter)="updatePoint($event, 'x', item)">
                            
                            <input class="point-pos-input" [ngModel]="item.point.y.toFixed(2)" type="number" (keyup.enter)="updatePoint($event, 'y', item)">
                            <label>{{getAngle(i)}}</label>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div *ngIf="displayLine(-1)" class="line-container">
                        <button [ngClass]="isEdgeSelected(-1) ? 'button-red' : ''" (click)="selectEdge(-1)">L{{shape.points.length - 1}}-0</button>
                        <div class="col">
                            <input class="line-length-input" [disabled]="!(selectedObject && selectedAdjacentObject && isEdgeSelected(-1))" [ngModel]="getEdgeLength(-1).toFixed(3)" type="number" (keyup.enter)="updateLength($event)">
                        </div>
                    </div>
                    <div *ngIf="!displayLine(-1)"  class="line-container">
                        <label>nimic</label>
                    </div>
                    <div *ngFor="let item of shape.points; let i = index;" >
                        <div *ngIf="displayLine(i)"  class="line-container">
                            <button [ngClass]="isEdgeSelected(i) ? 'button-red' : ''" (click)="selectEdge(i)">L{{i}}-{{i + 1 === shape.points.length ? 0 : i + 1}}</button>
                            <div class="col">
                                <input class="line-length-input" [disabled]="!(selectedObject && selectedAdjacentObject && isEdgeSelected(i))" [ngModel]="getEdgeLength(i).toFixed(3)" type="number" (keyup.enter)="updateLength($event)">
                            </div>
                        </div>
                        <div *ngIf="!displayLine(i)"  class="line-container">
                            <label>nimic</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
