.page-container {
    border: 1px solid #c0c0c0;
    border-radius: 7px;
    height: 450px;
    width: 582px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.canvas-container {
    border-left: 1px solid #c0c0c0;
    border-radius: 5px;
}

.options-container {
    width: 280px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.actions-lateral-buttons-container {
    width: 72px;
}

.actions-center-buttons-container {
    width: 146px;
}

.actions-container {
    width: 300px;
    height: 148px;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-radius: 5px;
}

.action-container {
    padding: 5px;
}

.texture-picker-container {
    width: 120px;
}

.texture-select {
    width:100px;
}

.angle-label {
    width: 40px;
    text-align: center;
}

.color-picker-container {
    width: 170px;
}

.color-picker {
    caret-color: transparent;
    width: 140px;
}

.points-container {
    padding-top: 40px;
    height: 410px;
}

.lines-container {
    height: 450px;
}

.rest-lines-container {
    height: 370px;
}

.point-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 80px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 80px !important;
}

.point-details-container {
    width: 65px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.point-property-container {
    width: 100%;
}

.point-property-label {
    width: 24px;
}

.point-pos-input {
    width: 35px;
}

.polygon-verices-input {
    text-align: center;
    width: 20px
}

.line-length-input {
    margin-left: 3px;
    width: 45px
}

.button-red {
    color: #fff !important;
    background-color: red !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.property-line-up {
    border-bottom: 1px solid black;
    width: 20px;
    transform: rotate(45deg);
    transform-origin: bottom right;
 }

 .property-line-horizontal {
    border-bottom: 1px solid black;
    width: 20px;
    transform-origin: bottom right;
 }

 .property-line-down {
    border-bottom: 1px solid black;
    width: 20px;
    transform: rotate(-45deg);
    transform-origin: bottom right;
 }

 .adjacent-line-up {
    border-bottom: 1px solid black;
    width: 30px;
    transform: rotate(-45deg);
    transform-origin: top left;
 }

 .adjacent-line-down {
    border-bottom: 1px solid black;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: top left;
 }

 .adjacent-propery-line-horizontal {
    border-bottom: 1px solid black;
    width: 10px;
    transform-origin: top left;
 }

 .connecting-lines-container {
    margin-left: 3px;
    margin-right: 3px;
 }

.point-button {
    display: inline-block;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
  
.point-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.line-button {
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
  
.line-button:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.round-button {
    border-radius: 50%;
}

.empty-line-details-container {
    width: 85px;
}

.bootstrap-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bootstrap-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.bootstrap-input::placeholder {
  color: #6c757d;
  opacity: 1;
}