<div class="col page-container full-center">
    <div class="content-container">
        <div class="full-center title-container">
            <label class="title-label bold">Forgot Password</label>
        </div>
        <div class="col">
            <label class="field-label-container">Username</label>
            <div class="row field-container">
                <img class="field-icon" [src]="SVGEnum.usernameSVG" alt="username">
                <input class="input-container" [(ngModel)]="username" type="text" placeholder="Enter your username">
            </div>
        </div>
        <div class="full-center">
            <label *ngIf="successMessage" class="register-success">{{successMessage}}</label>
            <label *ngIf="errorMessage" class="register-error">{{errorMessage}}</label>
            <label *ngIf="!errorMessage && !successMessage" class="register-error"></label>
        </div>
        <div class="full-center">
            <button class="register-button" (click)="sendResetPasswordCode()">Send Reset Code</button>
        </div>
    </div>
</div>
